<html>
	<head>
		<title> Zoo </title>
		
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

		<script type=text/javascript>
  			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
		
	</head>

	<body>

		<a href="/index">Index</a> | <a href="/logout">Logout</a>

		<hr>

		{% block content %} {% endblock %}

	</body>
</html>